<h1>Nuevo Héroe <small>{{ heroe.superhero }}</small></h1>
<mat-divider></mat-divider>
<br>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="row justify-content-start">
            <div class="col-md-6 col-xs-12">
                <div class="p-1 m-1 bg-light border">
                    <mat-form-field [style.width.%]="100">
                        <mat-label>Súper Héroe</mat-label>
                        <input matInput
                            type="text"
                            [(ngModel)]="heroe.superhero"
                            
                            required>
                    </mat-form-field>
                </div>  
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="p-1 m-1 bg-light border">
                    <mat-form-field [style.width.%]="100">
                        <mat-label>Alter Ego</mat-label>
                        <input matInput
                            type="text"
                            [(ngModel)]="heroe.alter_ego"
                            required>
                    </mat-form-field>
                </div>
        
            </div>
        </div>
        <div class="col">
            <div class="p-1 m-1 bg-light border">
                <mat-form-field [style.width.%]="100">
                    <mat-label>Primera Aparición</mat-label>
                    <input matInput
                        type="text"
                        [(ngModel)]="heroe.first_appearance"
                        required>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="p-1 m-1 bg-light border">
                <mat-form-field [style.width.%]="100">
                    <mat-label>Personajes</mat-label>
                    <input matInput
                        type="text"
                        [(ngModel)]="heroe.characters"
                        required>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="p-1 m-1 bg-light border">
                <mat-form-field [style.width.%]="100">
                    <mat-label>Creador</mat-label>
                    <mat-select [(ngModel)]="heroe.publisher" required>
                        <mat-option *ngFor="let publisher of publishers"
                        [value]="publisher.id">
                            {{ publisher.desc }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="p-1 m-1 bg-light border">
                <mat-form-field [style.width.%]="100">
                    <mat-label>Youtube Code</mat-label>
                    <input matInput
                        type="text"
                        [(ngModel)]="heroe.youtube_code"
                        >
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="p-1 m-1 bg-light border">
                <mat-form-field [style.width.%]="100">
                    <mat-label>Foto Url</mat-label>
                    <input matInput
                        type="text"
                        [(ngModel)]="heroe.alt_img"
                        required>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
        <div class="col-4">
            
            <button mat-raised-button 
            color="primary" 
            [style.width.%]="100"
            (click)="guardar()">
                <mat-icon>edit</mat-icon>
                Guardar
            </button>

        </div>
        
        <div class="col-4" *ngIf="heroe.id">
            
            <button mat-raised-button 
            color="warn" 
            [style.width.%]="100"
            (click)="borrar()">
                <mat-icon>
                    delete
                    </mat-icon>
                Borrar
            </button>

        </div>
        </div>

    </div>
    <div class="col-lg-6 col-sm-12">
        <img [src]="heroe | imagen">
    </div>
</div>
