<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>>
    </mat-grid-tile>
</mat-grid-list>
<ng-template #divHeroe>
    <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-12">
            <h1>{{ heroe.superhero }} <small>- {{ heroe.alter_ego }}</small></h1>
            <mat-divider></mat-divider>
            <br>
            <img [src]="heroe | imagen">
        </div>
        <div class="col-lg-7 col-md-12">
            <h1>{{ heroe.publisher}}</h1>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>{{ heroe.first_appearance }}</mat-list-item>
                <mat-list-item>{{ heroe.characters }}</mat-list-item>
                <mat-list-item>{{ heroe.publisher }}</mat-list-item>
                <mat-list-item>{{ heroe.alter_ego }}</mat-list-item>
            </mat-list>
            <br>
            <button (click)="volver()" mat-raised-button color="warn">
                Volver
            </button>
            <mat-divider></mat-divider>
            <br>
            <div >
                
            <youtube-player 
            videoId= "{{ heroe.youtube_code }}"
            suggestedQuality="highres"          
            >
            </youtube-player>
                
            </div>
        </div>
        <div>
            
        </div>

    </div>
</ng-template>